/*colours*/
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

html,body
{
	background:url('../asset/background2.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	
}

/*navbar*/

.navbar
{
	height: 10vh;
	background:url('../asset/pepe.jpeg');
	font-weight: bolder;
	color:#dd252b;
	font-size: 2em;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background-repeat: repeat-x;
	animation: animatedBackground 15s linear infinite;
}

.site-title
{
	font-size:2em;
}

/*video and chat*/

.site-content
{
	padding:1%;
}
.msg-box
{
	border-style: solid;
	border-width: thin;
	height: 100%;
}

.feature-buttons-box
{
	padding-top:1%;
}


.chat-box
{
	background-color: #676b69;
}
