/*colours*/

html,body
{
	/*background:url('../asset/theatre.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	height: 100%;
}

/*navbar*/

.navbar
{
	height: 10vh;
}

.msg-box
{
	border-style: solid;
	height: 100%;
}


.feature-buttons-box
{
	padding-top:1%;
}